<header class="section header__section">
  <div class="container header__container">
    <h1 class="article article--size-md header__article">Angular Google maps API realization</h1>
  </div>
</header>
<section class="section map__section">
  <div class="container-fluid map__container">
    <button (click)="changeCurInterface()">Change current Interface</button>
    <div class="map__interface-wrap">
      <div *ngIf="useApiSelect" class="map__form">
        <label class="label map__label">Enter address</label>
        <input type="text" class="input map__input" (keydown.enter)="$event.preventDefault()"
          placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" #search>
        <h5>Current address: {{address}}</h5>
        <div class="map__info">Current latitude: <span class="map__info--colored">{{latitude}}</span></div>
        <div class="map__info">Current longitude: <span class="map__info--colored">{{longitude}}</span></div>
      </div>
      <div *ngIf="!useApiSelect" class="map__selections">
        <select (change)="setCurrentOption($event)" name="place__selector">
          <option *ngFor="let item of places">{{item.name}}</option>
        </select>
        <form class="map__adding-form" (submit)="addNewOption($event); $event.preventDefault()">
          <input type="text" class="input map__input">
          <button class="button map__button">Add</button>
        </form>
      </div>
    </div>

    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>


  </div>
</section>