$text-light: #fff;
$text-grey: #7f8591;
$background-dark: #1b2330;
$separator-dark: #4b5264;
$button-usual: #39c098;
$button-hover: #1caa82;

agm-map {
    height: calc(100vh - 55px);
}

.header {
    &__section {
        padding: 10px 25px;
        background: linear-gradient(to bottom, #39c098 0%, #1caa82 100%);
    }
    &__article {
        color: $text-light;
        filter: drop-shadow(0px 0px 3px #1caa82);
    }
    &__grid {
        &-list {
            display: grid;
            grid-template-columns: auto 35px;
            gap: 15px;
            align-items: center;
        }
    }
    &__icon {
        width: 25px;
        fill: #fff;
        display: block;
    }
    &__link {
        display: block;
        border-radius: 3px;
        padding: 5px;
        transition: 0.3s;
        &:hover {
            box-shadow: 0 0 0 2px #fff;
        }
    }
}

.map {
    &__container {
        position: relative;
    }
    &__interface {
        position: relative;
        &-wrap {
            background-color: $background-dark;
            position: absolute;
            left: -400px;
            top: 0;
            bottom: 0;
            z-index: 100;
            padding: 25px;
            transition: 0.3s;
            width: 400px;
            box-sizing: border-box;
            &.active {
                left: 0;
            }
        }
    }
    &-wrap {
        background-color: $background-dark;
        position: absolute;
        left: -400px;
        top: 0;
        bottom: 0;
        z-index: 100;
        padding: 25px;
        transition: 0.3s;
        width: 400px;
        box-sizing: border-box;
        &.active {
            left: 0;
        }
    }
    &__grid {
        &-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            &--info {
                margin: 30px 0;
            }
        }
        &-item {
            color: $text-light;
            &-name {
                color: $text-grey;
            }
            &-value {
                display: block;
                text-align: right;
            }
        }
    }
    &__separator {
        border-color: $separator-dark;
        border-style: solid;
    }
    &__form {
        &-article {
            margin: 15px 0;
            font-weight: 500;
        }
        &-success {
            font-size: 15px;
            margin-left: 15px;
            opacity: 0;
            transition: opacity 0.3s;
            &.active {
                opacity: 1;
            }
        }
    }
    &__variant {
        display: none;
        color: #fff;
        &.active {
            display: block;
        }
    }
    &__input {
        &--select {
            margin-bottom: 10px;
        }
    }
    &__info {
        font-weight: 300;
        &--colored {
            font-weight: 500;
        }
    }
    &__article {
        color: $text-light;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__icon {
        fill: #fff;
        width: 20px;
        margin-right: 5px;
    }
    &__button {
        cursor: pointer;
        display: flex;
        align-items: center;
        outline: none;
        font-family: inherit;
        padding: 10px;
        background-color: transparent;
        color: #fff;
        border: none;
        text-transform: uppercase;
        font-size: 18px;
        transition: background-color 0.1s;
        &:hover {
            background-color: lighten($color: $background-dark, $amount: 5);
        }
        &--submit {
            display: inline;
            background-color: $button-usual;
            border-radius: 3px;
            padding: 5px 25px;
            margin-top: 15px;
            &:hover {
                background-color: $button-hover;
            }
        }
        &--close {
            transition: 0.3s;
            &.active {
                position: absolute;
                left: 100%;
                z-index: 100;
                background-color: $background-dark;

                svg {
                    transition: transform 0.3s;
                    will-change: transform;
                    transform: rotate(-180deg);
                }
            }
        }
    }
}
